<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Rental</title>

    <link rel="shortcut icon" href="images/" type="image/x-icon" />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="scrollbar.css">
    <link rel="stylesheet" href="querryHome.css">
</head>

<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="navbar-img">
                    <a href="#"><img src="images/logocar.png" alt="" /></a>
                </div>
                <ul class="navbar-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="pages/about.html">About</a></li>
                    <li><a href="pages/models.html">Vehicle Models</a></li>
                    <li><a href="pages/contact.html">Contact</a></li>
                </ul>

                <div class="navbar-buttons">
                    <a class="navbar-buttons-sign-in" href="#">Sign-In</a>
                    <a class="navbar-buttons-register" href="#">Register</a>
                </div>
                
            </div>
        </nav>
    </header>
    <main>
        <section id="home" class="hero-section">
            <div class="container">
                <img class="bg-shape" src="images/hero/hero-bg.png" alt="" />
                <div class="hero-content">
                    <div class="hero-content-text">
                        <h4>Plan your trip now</h4>
                        <h1>Save <span>big</span> with our car rental</h1>
                        <p>
                            Rent the car of your dreams. Unbeatable prices, unlimited miles,
                            flexible pick-up options and much more.
                        </p>
                        <div class="hero-content-text-btns">
                            <a class="hero-content-text-btns-book-ride" href="#">Book Ride &nbsp;<i
                                    class="fa-regular fa-circle-check"></i></a>
                            <a class="hero-content-text-btns-learn-more" href="#">Learn More &nbsp; <i
                                    class="fa-solid fa-angle-right"></i></a>
                        </div>
                    </div>
                    <img class="hero-content-car-img" src="images/hero/main-car.png" alt="" />
                </div>
            </div>
        </section>
        <section id="booking-section" class="book-section">
            <div class="modal-overlay"></div>
            <div class="container">
                <div class="book-content">
                    <div class="book-content-box">
                        <h2>Book a car</h2>
                        <p class="error-message">All fields required!</p>
                        <p class="booking-done">Check your email to confirm an order.</p>
                        <form class="box-form">
                            <div class="box-form-car-type">
                                <label> <i class="fa-solid fa-car"></i> Select Your Car Type <b>*</b></label>
                                <select>
                                    <option>Select your car type</option>
                                    <option value="Audi A1 S-Line">Audi A1 S-Line</option>
                                    <option value="VW Golf 6">VW Golf 6</option>
                                    <option value="Toyota Camry">Toyota Camry</option>
                                    <option value="BMW 320 ModernLine">
                                        BMW 320 ModernLine
                                    </option>
                                    <option value="VW Passat CC">VW Passat CC</option>
                                </select>
                            </div>
                            <div class="box-form-car-type">
                                <label><i class="fa-solid fa-location-dot"></i> Pick-up <b>*</b> </label>
                                <select>
                                    <option>Select pick up location</option>
                                    <option>Belgrade</option>
                                    <option>Novi Sad</option>
                                    <option>Nis</option>
                                    <option>Kragujevac</option>
                                    <option>Subotica</option>
                                </select>
                            </div>
                            <div class="box-form-car-type">
                                <label><i class="fa-solid fa-location-dot"></i> Drop-of <b>*</b></label>
                                <select>
                                    <option>Select drop off location</option>
                                    <option>Novi Sad</option>
                                    <option>Belgrade</option>
                                    <option>Nis</option>
                                    <option>Kragujevac</option>
                                    <option>Subotica</option>
                                </select>
                            </div>
                            <div class="box-form-car-time">
                                <label for="picktime"><i class="fa-regular fa-calendar-days"></i> Pick-up
                                    <b>*</b></label>
                                <input type="date" id="picktime" />
                            </div>
                            <div class="box-form-car-time">
                                <label for="droptime"><i class="fa-regular fa-calendar-days"></i> Drop-of
                                    <b>*</b></label>
                                <input type="date" id="droptime" />
                            </div>
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="banner-section">
            <div class="container">
                <div class="banner-content">
                    <div class="banner-content-text">
                        <h2>Save big with our cheap car rental!</h2>
                        <p>Top Airports. Local Suppliers. <span>24/7 </span>Support.</p>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        <footer>
            <div class="container">
                <div class="footer-content">
                    <ul class="footer-content-1">
                        <li><span>CAR</span>Rental</li>
                        <li>We offers a big range of vehicles for all your driving needs. We have the perfect car to
                            meet your
                            needs.</li>
                        <li><i class="fa-solid fa-phone"></i> &nbsp; (123) -456-789</a></li>
                        <li><i class="fa-solid fa-envelope"></i>&nbsp; carrental@gmail.com</a></li>
                    </ul>
                    
                    <ul class="footer-content-2">
                        <li>WORKING HOURS</li>
                        <li>Mon - Fri: 9:00AM - 9:00PM</li>
                        <li>Sat: 9:00AM - 19:00PM</li>
                        <li>Sun: Closed</li>
                    </ul>
                    <ul class="footer-content-2">
                        <li>SUBSCRIPTION</li>
                        <li>
                            <p>Subscribe your Email address for latest news &amp; updates.</p>
                        </li>
                        <li><input type="email" placeholder="Enter Email Address"></li>
                        <li><button class="submit-email">Submit</button></li>
                    </ul>
                </div>
            </div>
        </footer>
    </main>
    <script src="js/main.js"></script>
    <script src="https://kit.fontawesome.com/ca4923168d.js" crossorigin="anonymous"></script>
</body>

</html>